/* Below classes were used to learn float property */
/*.box {
    height: 100px;
    width: 200px;

    border: 1px solid black;
}

.red{
    background-color: red;
}

.green{
    background-color: green; 
}

.blue{
    background-color: blue;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}

.orange{
    background-color: orange;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-left{
    clear: left;
}

.clear-right{
    clear: right;
}

.clear-both {
    clear: both;
}
/*Nav styles */
body{
    margin: 0;
}
.main-nav {
    height: 90px;
    background-color: gray;
}

.logo{
    height: 46px;  
    padding: 25px;
    
}
.logo:hover{
    width: 65px;
}
.nav-list {
    float: right;
    list-style-type: none;
}

li{
    color: #fff;
    float:left;
    padding: 14px 16px 20px;
}

li:hover{
    font-size: 30px;
    padding: 5px 16px;
}

.map{
    width: 400px;
    height: 600px
      >>>>>>> develop




/* End Nav Styles */

/*content styles*/
.content{
    height: 85vh;
    padding: 0 50px;
}
/*footer styles*/
.footer{
    background-color: brown;
    height: 50px;

}

.social-media{
    height: 50px;
    margin-bottom: 0px;
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}
.button{
    border-radius: 10px;
    color: white;
    font-size: 24px;
    padding:10px;
}
.button-success{
    border: 1px solid #ccc;
    background: green;
}

.button-default{
    background: #ccc;
    color: black;
}
.button-danger{
    width: 250px;
    background: red;
    border: none;
}
.button-small{
    width: 150px;
}



/* End Footer styles */